<h1>Welcome <%= current_user.name %></h1>

<table class = "table">
 	<tr>
 		<th>
 			Date
 		</th>
 		<th>
 			Task
 		</th>
 		<th>
 			Accomplishment
 		</th>
 	</tr>
 	<% @tasks.each do |task| %>
 		<tr>
 			<td>
 				<%=task.date%>
 			</td>
 			<td>
 				<%=task.what_to_do%>
 			</td>
 			<td>
 				<%=task.what_done%>
 			</td>
 		</tr>
 	<%end%>
</table>

